#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
  }

  #loader h3{
    font-size: 2vw;
    font-weight: 100;
  }