/*!

 =========================================================
 * o2system-ui-kit - v1.0.0
 =========================================================

 */

// CORE
@import '_partials/color';
@import '_partials/global';
@import '_partials/header';
@import '_partials/landing';
@import '_partials/shop';
@import '_partials/login';
@import '_partials/footer';