.footer-new {
  background-color: #212529;
  padding: 10px;
  color: white;
  align-items: flex-start;
  font-size: 16px;
  justify-content: center;
  padding-bottom: 30px;
}

.footer-new-contents {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-left-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start; /* Center align content */
  text-align: center; /* Center text */
}

.footer-logo-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.footer-left-social-image-container {
  color: rgb(104 198 123 / 79%);
  display: flex;
  /* padding: 16px 0px 0px 0px; */
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
}

.footer-left-about-container {
  width: 350px;
  margin-top: 10px;
  font-size: 16px;
  text-align: left;
  padding: 10px;
}

.footer-left-Social-icon-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-left-social-icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease-in-out;
}

.soc1:hover {
  background-color: #1877f2;
}
.soc2:hover {
  background: linear-gradient(45deg, #833ab4, #e1306c, #fd1d1d, #fdcb5d);
}
.soc3:hover {
  background-color: #25d366;
}
.soc4:hover {
  background-color: black;
}
.soc5:hover {
  background-color: #0077b5;
}

.footer-left-social-icons:hover svg {
  fill: white;
}

.footer-center-right-products,
.footer-center-left-products, .footer-legal-list {
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

.footer-center-right-products h3,
.footer-center-left-products h3, .footer-legal h3{
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(104 198 123 / 79%);
}

.footer-right-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin-right: 5px;
  margin-top: 30px;
}
.footer-center-productlist-item p span {
  margin-right: 1rem;
}

.footer-center-productlist h3 {
  color: rgb(104 198 123 / 79%);
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-center-left-productlist-item p,
.footer-center-right-productlist-item p {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.footer-legal-list-item p{
  cursor: pointer;
    transition: 0.3s all ease-in-out;
    transform: translateX(5);
}

.footer-new-contents > div {
  flex: 1;
  transition: margin-left 0.3s ease; /* Adding transition for smooth animation */
}

.footer-legal-list-item:hover ~ div {
  margin-left: -20px; 
}

.footer-legal-list-item:hover {
  position: relative;
  z-index: 2; 
}


.footer-center-left-productlist-item p:hover,
.footer-center-right-productlist-item p:hover,
.footer-legal-list-item p:hover {
    border-left: 6px solid rgb(104 198 123 / 79%);
    color: rgb(104 198 123 / 79%);
    transform: translateX(-1);
}

.footer-center-left-productlist-item p:hover {
  border-left: 6px solid rgb(104 198 123 / 79%);
  color: rgb(104 198 123 / 79%);
}

.footer-center-right-productlist-item p:hover {
  border-left: 6px solid rgb(104 198 123 / 79%);
  color: rgb(104 198 123 / 79%);
}

.footer-new-copyright {
  font-size: 1rem;
  margin-top: 30px;
  text-align: center;
}

.footer-center-left-productlist-item .link,
.footer-center-right-productlist-item .link {
  color: inherit;
  text-decoration: none;
}
.footer-center-left-productlist-item p:hover {
  border-left: 6px solid rgb(104 198 123 / 79%);
  color: rgb(104 198 123 / 79%);
}
.footer-legal-list-item p:hover {
  border-left: 6px solid rgb(104 198 123 / 79%);
  color: rgb(104 198 123 / 79%);
}


.footer-legal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  margin-bottom: 42px;
}

.footer-legal-list-item a {
  text-decoration: none;
  color: white
}

.footer-legal-list-item a:hover{
  color:rgb(104 198 123);
}



/* Responsive Design */
@media (max-width: 900px) {
  .footer-new-contents {
    flex-direction: column;
    text-align: center; /* Center text on smaller screens */
  }

  .footer-left-social {
    align-items: center;
  }

  .footer-left-about-container {
    width: 100%;
  }

  .footer-center-right-products,
  .footer-center-left-products,
  .footer-right-products, .footer-legal-list {
    width: 100%;
    align-items: center; /* Center align items */
  }

  .footer-center-left-productlist-item {
    text-align: center; /* Center text */
  }
}

@media (max-width: 600px) {
  .footer-new {
    font-size: 14px; /* Adjust font size for very small screens */
    padding: 10px 5px;
  }

  .footer-left-social-image-container {
    font-size: 18px; /* Adjust font size for very small screens */
  }

  .footer-center-right-products h3,
  .footer-center-left-products h3,
  .footer-center-productlist h3 {
    font-size: 18px; /* Adjust font size for very small screens */
  }

  .footer-left-social-icons {
    width: 35px;
    height: 35px;
  }
}
.right-social-icn {
  position: fixed;
  right: 10px;
  top: 150px;
  z-index: 100;
}
.right-social-icn div {
  margin: 15px;
}

.footer-center-productlist-item a {
  color: #ffffff; 
  text-decoration: none; 
}