body {
    background: url('https://images.squarespace-cdn.com/content/v1/62e7a92f066fa3730dcd4604/ecfe70eb-aba9-401f-8618-bc0d240610d8/v2-7fxx8-5iq65.jpg');
    background-size: cover;
    background-position: center;
}
.rate-container {
    max-width: 500px;
    margin: 20px auto; 
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 40px;
    background-color: rgba(47, 47, 47, 0.6);
    border: px solid #0e4003;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.rate-container:hover {
    transform: scale(1.05);
}

.rate-container h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.rate-container .stars {
    margin-bottom: 20px;
}
.rate-container .rating-emoji {
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s, text-shadow 0.3s;
  }
  
  .rate-container .rating-emoji:hover,
  .rate-container .rating-emoji.selected {
    transform: scale(1.5);
    text-shadow: 0 0 10px yellow;
    animation: shine 1s infinite alternate;
  }
  
  @keyframes shine {
    from {
      text-shadow: 0 0 20px yellow;
    }
    to {
      text-shadow: 0 0 30px yellow;
    }
  }
  

.rate-container .star {
    font-size: 30px;
    color: #cecece;
    cursor: pointer;
    transition: color 0.3s;
}

.rate-container .star:hover,
.rate-container .star.selected {
    color: gold
}

.star:hover {
    color: gold;
    animation: glow 1s infinite alternate; 
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px yellow;
    }
    to {
        text-shadow: 0 0 30px yellow;
    }
}

.rate-container textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical; 
}

.rate-container button {
    max-width: 500px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border:none;
    background-color: #ca3628;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rate-container button:hover {
    background-color: #a90e00;
}
