/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

#test { 
  .testimonials {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #198754;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.h2{
  color:#E91E63
}
.card {
  position: relative;
  border-radius: 25px;
  background-color: white;
  height: 300px;
  transition: transform 0.5s ease;
  margin: 0px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
  transform: scale(1.001);
  /* box-shadow: 2px 8px 16px rgba(17, 215, 37, 0.986); */
  /* padding: 10px; */
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
}

.card-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #ffffff;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #198754;
}

.swiper-navBtn {
  color: #198754;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #198754;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #198754;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #198754;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

.card:hover .fronts {
  opacity: 0;
  transform: translateY(-100%);
}

.card .fronts {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
}

.backs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  opacity: 0;
  border: 2px solid #198754;
  background-color: white;
  border-radius: 50px;
  font-size: 1em;
  padding: 10px 40px;
  transition: opacity 0.5s ease;
}

.card:hover .backs {
  opacity: 1;
}

.rating i {
  color: #ffc107;
}

.backs::before {
  content: "\201C";
  position: absolute;
  font-weight: bold;
  font-size: 4em;
  color: #198754;
  top: 11px;
  left: 3px;
  font-family: Georgia, Times, serif;
}

.backs::after {
  content: "\201D";
  position: absolute;
  font-weight: bold;
  font-size: 4em;
  color: #198754;
  bottom: -22px;
  right: 7px;
  font-family: Georgia, Times, serif;
}

@media screen and (max-width: 700px) {
  .backs {
    font-size: 1px;
  }
}

@media screen and (min-width: 520px) and (max-width: 550px) {
  .backs {
    font-size: 13px;
  }
}
}