@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.chatbot__button {
    position: fixed;
    bottom: 15px;
    left: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #22bb2a;
    color: #f3f7f8;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; 
}

.chatbotImage {
    height: 50px;
    width: 50px;
}
  
.chatbot__button:hover {
    background-color: #f0f0f0; 
}
  
.chatbot__button:hover .chatbotImage {
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out; 
}

.chatbot__button span {
    position: absolute;
}

.show-chatbot .chatbot__button span:first-child,
.chatbot__button span:last-child {
    opacity: 0;
}

.show-chatbot .chatbot__button span:last-child {
    opacity: 1;
}

.chatbot {
    position: fixed;
    bottom: 80px;
    left: 35px;
    width: 400px;
    height: 600px;
    background-color: #f3f7f8;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(63, 207, 6, 0.1), 0 32px 64px -48px rgba(63, 207, 6, 0.1);
    transform: scale(0.5);
    transition: transform 0.3s ease;
    overflow: hidden;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
}

.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chatbot__header {
    position: relative;
    background-color: #18c552;
    text-align: center;
    padding: 16px 0;
}

.chatbot__header span {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    color: white;
    transform: translateY(-50%);
    cursor: pointer;
}

.chatbox__title {
    font-size: 1.8rem;
    color: #f3f7f8;
}

.chatbot__box {
    height: 432px;
    overflow-y: auto;
    padding: 30px 20px 100px;
    background-image: url(krishi.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(1);
}

.chatbot__chat {
    display: flex;
}

.chatbot__chat p {
    max-width: 75%;
    font-size: 0.95rem;
    white-space: pre-wrap;
    color: white;
    background-color: #18c552;
    border-radius: 10px 10px 0 10px;
    padding: 12px 16px;
}

.chatbot__chat p.error {
    color: #721c24;
    background: #f8d7da;
}

.incoming p {
    color: white;
    background: #bdc3c7;
    border-radius: 10px 10px 10px 0;
}

.incoming span {
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #f3f7f8;
    background-color: #18c552;
    border-radius: 4px;
    text-align: center;
    align-self: flex-end;
    margin: 0 10px 7px 0;
}

.outgoing {
    justify-content: flex-end;
    margin: 20px 0;
}

.incoming {
    margin: 20px 0;
}

.chatbot__input-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    border-top: 1px solid #18c552;
    background: #0f6b23;
    padding: 5px 20px;
}

.chatbot__textarea {
    width: 80%;
    min-height: 20px;
    max-height: 80px;
    font-size: 0.95rem;
    padding: 16px 15px 16px 0;
    color: white;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
}

.chatbot__textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.chatbot__input-box span {
    font-size: 1.75rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
}

.chatbot__textarea:valid~span {
    visibility: visible;
}

@media (max-width: 490px) {
    .chatbot {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .chatbot__box {
        height: 90%;
    }
    .chatbot__header span {
        display: inline;
    }
}

@media (max-width: 768px) {
    .chatbot {
        width: 90%;
        left: 5%;
        bottom: 100px;
    }
}
