.nav{
	&.nav-bullets{
		.nav-item {
			.nav-link {
			    padding: 20px 15.5px;
			    text-align: center;
			    height: 60px;
			    width: 60px;
			    font-weight: 400;
			    color: #9A9A9A;
			    margin-right: 19px;
			    background-color: rgba(222, 222, 222, 0.3);
			    border-radius: 30px;

			    i {
				    display: block;
				    font-size: 20px;
				}

				img{
					width: 100%;
				}

				&.active{
					background-color: $brand-primary;
					color: $white;
				}

			 }
		}

	}
}