@-webkit-keyframes "offline-fadein" {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes "offline-fadein" {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-ms-keyframes "offline-fadein" {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes "offline-fadein" {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes "offline-fadein" {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes "offline-fadeout-and-hide" {
	0% {
		opacity: 1;
		display: block;
	}
	99% {
		opacity: 0;
		display: block;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
@-moz-keyframes "offline-fadeout-and-hide" {
	0% {
		opacity: 1;
		display: block;
	}
	99% {
		opacity: 0;
		display: block;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
@-ms-keyframes "offline-fadeout-and-hide" {
	0% {
		opacity: 1;
		display: block;
	}
	99% {
		opacity: 0;
		display: block;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
@-o-keyframes "offline-fadeout-and-hide" {
	0% {
		opacity: 1;
		display: block;
	}
	99% {
		opacity: 0;
		display: block;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
@keyframes "offline-fadeout-and-hide" {
	0% {
		opacity: 1;
		display: block;
	}
	99% {
		opacity: 0;
		display: block;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
@-webkit-keyframes "offline-rotation" {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
	}
}
@-moz-keyframes "offline-rotation" {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
	}
}
@-ms-keyframes "offline-rotation" {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
	}
}
@-o-keyframes "offline-rotation" {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
	}
}
@keyframes "offline-rotation" {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		-o-transform: rotate(359deg);
	}
}
.offline-ui {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	position: fixed;
	background: white;
	z-index: 2000;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	font-family: "Helvetica Neue", sans-serif;
	padding: 1em;
	top: 1em;
	width: 38em;
	max-width: 100%;
	overflow: hidden;
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		&:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		&:after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
	}
	&:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.offline-ui-content {
		&:before {
			display: inline;
			line-height: 1.25em;
		}
	}
	.offline-ui-retry {
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		display: none;
		position: absolute;
		right: 3em;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.1);
		text-decoration: none;
		color: inherit;
		line-height: 3.5em;
		height: 3.5em;
		margin: auto;
		padding: 0 1em;
		&:before {
			display: inline;
			content: "Reconnect";
		}
	}
}
.offline-ui.offline-ui-up.offline-ui-up-5s {
	display: block;
}
.offline-ui.offline-ui-down {
	display: block;
	-webkit-animation: offline-fadein 0.5s;
	-moz-animation: offline-fadein 0.5s;
	-ms-animation: offline-fadein 0.5s;
	-o-animation: offline-fadein 0.5s;
	animation: offline-fadein 0.5s;
	-webkit-backface-visibility: hidden;
	background: #ec8787;
	color: #551313;
	.offline-ui-content {
		&:before {
			content: "Offline";
			content: "Your computer lost its internet connection.";
		}
	}
}
.offline-ui.offline-ui-down.offline-ui-waiting {
	.offline-ui-retry {
		display: block;
	}
	background: #f8ecad;
	color: #7c6d1f;
	padding-right: 3em;
	padding-right: 11em;
	&:after {
		-webkit-animation: offline-rotation 0.7s linear infinite;
		-moz-animation: offline-rotation 0.7s linear infinite;
		-ms-animation: offline-rotation 0.7s linear infinite;
		-o-animation: offline-rotation 0.7s linear infinite;
		animation: offline-rotation 0.7s linear infinite;
		-webkit-backface-visibility: hidden;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		content: " ";
		display: block;
		position: absolute;
		right: 1em;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 1em;
		width: 1em;
		border: 2px solid rgba(0, 0, 0, 0);
		border-top-color: #7c6d1f;
		border-left-color: #7c6d1f;
		opacity: 0.7;
	}
	.offline-ui-content[data-retry-in-unit="second"] {
		&:before {
			content: "Connection lost. Reconnecting in "attr(data-retry-in-value) " seconds...";
		}
	}
	.offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"] {
		&:before {
			content: "Connection lost. Reconnecting in "attr(data-retry-in-value) " second...";
		}
	}
	.offline-ui-content[data-retry-in-unit="minute"] {
		&:before {
			content: "Connection lost. Reconnecting in "attr(data-retry-in-value) " minutes...";
		}
	}
	.offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"] {
		&:before {
			content: "Connection lost. Reconnecting in "attr(data-retry-in-value) " minute...";
		}
	}
	.offline-ui-content[data-retry-in-unit="hour"] {
		&:before {
			content: "Connection lost. Reconnecting in "attr(data-retry-in-value) " hours...";
		}
	}
	.offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"] {
		&:before {
			content: "Connection lost. Reconnecting in "attr(data-retry-in-value) " hour...";
		}
	}
}
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting {
	.offline-ui-retry {
		display: none;
		display: none;
	}
}
.offline-ui.offline-ui-up {
	-webkit-animation: offline-fadeout-and-hide forwards 0.5s 2s;
	-moz-animation: offline-fadeout-and-hide forwards 0.5s 2s;
	-ms-animation: offline-fadeout-and-hide forwards 0.5s 2s;
	-o-animation: offline-fadeout-and-hide forwards 0.5s 2s;
	animation: offline-fadeout-and-hide forwards 0.5s 2s;
	-webkit-backface-visibility: hidden;
	background: #d6e9c6;
	color: #468847;
	.offline-ui-content {
		&:before {
			content: "Online";
			content: "Your computer is connected to the internet.";
		}
	}
}
.offline-ui.offline-ui-down.offline-ui-connecting {
	background: #f8ecad;
	color: #7c6d1f;
	padding-right: 3em;
	&:after {
		-webkit-animation: offline-rotation 0.7s linear infinite;
		-moz-animation: offline-rotation 0.7s linear infinite;
		-ms-animation: offline-rotation 0.7s linear infinite;
		-o-animation: offline-rotation 0.7s linear infinite;
		animation: offline-rotation 0.7s linear infinite;
		-webkit-backface-visibility: hidden;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		content: " ";
		display: block;
		position: absolute;
		right: 1em;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 1em;
		width: 1em;
		border: 2px solid rgba(0, 0, 0, 0);
		border-top-color: #7c6d1f;
		border-left-color: #7c6d1f;
		opacity: 0.7;
	}
	.offline-ui-content {
		&:before {
			content: "Attempting to reconnect...";
		}
	}
}
.offline-ui.offline-ui-down.offline-ui-waiting.offline-ui-reconnect-failed-2s {
	padding-right: 0;
}
.offline-ui.offline-ui-down.offline-ui-connecting-2s {
	.offline-ui-content {
		&:before {
			content: "Attempting to reconnect...";
		}
	}
}
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s {
	.offline-ui-content {
		&:before {
			content: "Connection attempt failed.";
		}
	}
}
@media (max-width: 38em) {
	.offline-ui {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		top: 0;
	}
}
@media (max-width: 1024px) {
	.offline-ui.offline-ui-up {
		.offline-ui-content {
			&:before {
				content: "Your device is connected to the internet.";
			}
		}
	}
	.offline-ui.offline-ui-down {
		.offline-ui-content {
			&:before {
				content: "Your device lost its internet connection.";
			}
		}
	}
}
@media (max-width: 568px) {
	.offline-ui.offline-ui-up {
		.offline-ui-content {
			&:before {
				content: "Your device is connected.";
			}
		}
	}
	.offline-ui.offline-ui-down {
		.offline-ui-content {
			&:before {
				content: "Your device isn't connected.";
			}
		}
	}
	.offline-ui.offline-ui-down.offline-ui-waiting {
		.offline-ui-content[data-retry-in-unit="second"] {
			&:before {
				content: "Reconnecting in "attr(data-retry-in-value) "s...";
			}
		}
		.offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"] {
			&:before {
				content: "Reconnecting in "attr(data-retry-in-value) "s...";
			}
		}
		.offline-ui-content[data-retry-in-unit="minute"] {
			&:before {
				content: "Reconnecting in "attr(data-retry-in-value) "m...";
			}
		}
		.offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"] {
			&:before {
				content: "Reconnecting in "attr(data-retry-in-value) "m...";
			}
		}
		.offline-ui-content[data-retry-in-unit="hour"] {
			&:before {
				content: "Reconnecting in "attr(data-retry-in-value) "h...";
			}
		}
		.offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"] {
			&:before {
				content: "Reconnecting in "attr(data-retry-in-value) "h...";
			}
		}
	}
}