/* Timeline */
.timeline {
	list-style: none;
	padding: 20px;
	position: relative;
	margin-bottom: 20px;
	&:before {
		top: 40px;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 3px;
		background-color: #ddd;
		margin-left: -1.5px;
	}
	.timeline-item {
		margin-bottom: 20px;
		position: relative;
		&:before {
			content: "";
			display: table;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		.timeline-badge {
			color: #fff;
			width: 54px;
			height: 54px;
			line-height: 52px;
			font-size: 22px;
			text-align: center;
			position: absolute;
			top: 18px;
			left: 0;
			margin-left: -25px;
			background-color: #7c7c7c;
			border: 3px solid #ffffff;
			z-index: 3;
			border-top-right-radius: 50%;
			border-top-left-radius: 50%;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;
			i {
				top: 2px;
				left: 0px;
			}
			.fa {
				top: 2px;
				left: 0px;
			}
			.glyphicon {
				top: 2px;
				left: 0px;
			}
		}
		.timeline-badge.primary {
			background-color: $brand-primary;
		}
		.timeline-badge.info {
			background-color: $brand-info;
		}
		.timeline-badge.success {
			background-color: $brand-success;
		}
		.timeline-badge.warning {
			background-color: $brand-warning;
		}
		.timeline-badge.danger {
			background-color: $brand-danger;
		}
		.timeline-card {
			position: relative;
			width: auto;
			float: left;
			left: 50px;
			padding: 0;
			top: 20px;

			&:before {
				position: absolute;
				top: 10px;
				right: -16px;
				display: inline-block;
				border-top: 16px solid transparent;
				border-left: 16px solid rgba(0, 0, 0, 0.125);
				border-right: 0 solid rgba(0, 0, 0, 0.125);
				border-bottom: 16px solid transparent;
				content: " ";
				border-left-width: 0;
				border-right-width: 14px;
				left: -14px;
				right: auto;
			}
			&:after {
				position: absolute;
				top: 10px;
				right: -16px;
				display: inline-block;
				border-top: 16px solid transparent;
				border-left: 16px solid #f7f7f7;
				border-right: 0 solid #f7f7f7;
				border-bottom: 16px solid transparent;
				content: " ";
				border-left-width: 0;
				border-right-width: 14px;
				left: -12px;
				right: auto;
			}
			.timeline-title {
				margin-top: 0;
				color: inherit;
			}
			.timeline-body {
				>p {
					margin-bottom: 0;
					+ {
						p {
							margin-top: 5px;
						}
					}
				}
				>ul {
					margin-bottom: 0;
				}
			}
		}
		&:last-child {
			&:nth-child(even) {
				float: right;
			}
		}
		/* &:nth-child(even) {
			.timeline-card {
				float: right;
				left: 16px;
				&:before {
					border-left-width: 0;
					border-right-width: 14px;
					left: -14px;
					right: auto;
				}
			}
		} */
	}
}
.timeline-horizontal {
	list-style: none;
	padding: 20px;
	position: relative;
	list-style: none;
	position: relative;
	padding: 20px 0px 20px 0px;
	display: inline-block;

	&:before {
		height: 3px;
		top: 30px;
		bottom: auto;
		left: 56px;
		right: 0;
		width: 100%;
		margin-bottom: 20px;
	}
	.timeline-item {
		display: table-cell;
		height: auto;
		width: 20%;
		min-width: 320px;
		float: none !important;
		padding-left: 0px;
		padding-right: 20px;
		margin: 0 auto;
		vertical-align: top;
		.timeline-card {
			top: 60px;
			bottom: auto;
			display: inline-block;
			float: none !important;
			left: 0 !important;
			right: 0 !important;
			width: 100%;
			margin-bottom: 20px;
			&:before {
				bottom: auto;
				top: -16px;
				left: 28px !important;
				right: auto;
				border-right: 16px solid transparent !important;
				border-bottom: 16px solid rgba(0, 0, 0, 0.125) !important;
				border-top: 0 solid rgba(0, 0, 0, 0.125) !important;
				border-left: 16px solid transparent !important;
			}
			&:after {
				bottom: auto;
				top: -14px;
				left: 28px !important;
				right: auto;
				border-right: 16px solid transparent !important;
				border-bottom: 16px solid #F7F7F7 !important;
				border-top: 0 solid #F7F7F7 !important;
				border-left: 16px solid transparent !important;
			}
		}
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
		.timeline-badge {
			top: -15px;
			bottom: auto;
			left: 43px;
		}
	}
}
